<!--<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Mesa de Ayuda</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item" *ngIf="!showAdminBoard">
          <a href="/requerimientos" class="nav-link" *ngIf="isLoggedIn" routerLink="requerimientos">Requerimientos</a>
        </li>
        <li class="nav-item">
          <a href="/productos" class="nav-link" *ngIf="isLoggedIn" routerLink="productos">Incidentes</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Salir</a>
        </li>
      </ul>
    </nav>
  
   
    <router-outlet></router-outlet>
    
  </div>
-->
<p-menubar [model]="items">
  <div>
    <button pButton pRipple type="button" label="{{username}}" class="p-button-secondary p-button-text"></button>
    <button class="p-button-danger" type="button" pButton label="Salir" icon="pi pi-power-off" style="margin-left:.25em" (click)="logout()"></button>
  </div>
</p-menubar>

<router-outlet></router-outlet>