<p-menubar [model]="items">
    <div>
      <button pButton pRipple type="button" label="{{username}}" class="p-button-secondary p-button-text"></button>
      <button class="p-button-danger" type="button" pButton label="Salir" icon="pi pi-power-off" style="margin-left:.25em" (click)="logout()"></button>
    </div>
</p-menubar>
<router-outlet></router-outlet>
<footer><span style="font-size:11px;text-align: center;">Herramienta de Integracion Mesa Ayuda - Open Project</span></footer>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-fade" [fullScreen] = "true"><p style="color: white" > Actualizando... </p></ngx-spinner>