@import '../layout-config-button.css';
@import '../table-data.css';
@import '../priority-starburst.css';

.requerimiento-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.requerimiento-badge.status-new {
    background: #1098AD;
    color: #c8e6c9;
}

.requerimiento-badge.status-in-progress {
    background: #CC5DE8;
    color: #c8e6c9;
}

.requerimiento-badge.status-closed {
    background: #DEE2E6;
    color: #1A67A3
}

