<p-toast position="top-right"></p-toast>
<div class="card">
  <p-table #dt [value]="requerimientos" selectionMode="single" [(selection)]="selectedRequerimiento" [autoLayout]="true" [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" 
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [filterDelay]="0" [globalFilterFields]="['nro_req','Detalle','solicitante']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            Requerimientos                 
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
                </span>                        
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nro_req" [style]="{'width':'90px'}">Nro<p-sortIcon field="nro_req"></p-sortIcon></th>
            <th pSortableColumn="solicitante" [style]="{'width':'170px'}">Solicitante<p-sortIcon field="solicitante"></p-sortIcon></th>
            <th pSortableColumn="fecha_sol" [style]="{'width':'200px'}">Fecha Solicitud<p-sortIcon field="fecha_sol"></p-sortIcon></th>
            <th>Descripcion</th>
            <th>Detalle Requerimiento</th>
            <th>Estado</th>  
            <th>Open Project</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-requerimiento>
        <tr class="p-selectable-row">
            <tr [pSelectableRow]="requerimiento">
            <td>{{requerimiento.nro_req}}</td>
            <td>{{requerimiento.solicitante}}</td>
            <td>{{requerimiento.fecha_sol}}</td>
            <td>{{requerimiento.descrip_req}}</td>
            <td>{{requerimiento.Detalle | titlecase}}</td>
            <td>{{requerimiento.estado_req}}</td>
            <td>
                <p-dropdown [options]="projects"  [(ngModel)]="requerimiento.project" optionLabel="name" 
                    [showClear]="true" placeholder="Seleccione un proyecto...">
                </p-dropdown>
            </td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-send" class="p-button-rounded" pTooltip="Enviar a Open Project"
                    (click)="sendOpenProject(requerimiento)" [disabled]="!requerimiento.project">
                </button>                
            </td>            
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="getRequerimientos()"></p-button>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No existen requerimientos pendientes.</td>
        </tr>
    </ng-template>
  </p-table> 
</div>