<p-toast position="top-right"></p-toast>
<div class="layout-config">
    <a tabindex="0" class="layout-config-button" (click)="findIncidentes()"><i class="pi pi-refresh"></i></a>
</div>
<div class="card">
  <p-table #dt [value]="incidentes" selectionMode="single" [(selection)]="selectedIncidente" [autoLayout]="true" [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" 
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10,25,50]" 
    [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [filterDelay]="0" [globalFilterFields]="['nro_inc','descrip','nomb_comp']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <span>
                <button pButton pRipple type="button" label="Incidentes" class="p-button-secondary p-button-text"></button>                           
                <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="findIncidentes()"></p-button>
            </span>    
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
            </span>                        
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nro_inc" [style]="{'width':'90px'}">Nro<p-sortIcon field="nro_inc"></p-sortIcon></th>
            <th pSortableColumn="nomb_comp" [style]="{'width':'170px'}">Solicitante<p-sortIcon field="nomb_comp"></p-sortIcon></th>
            <th pSortableColumn="fecha_sol" [style]="{'width':'80px'}">Fecha<p-sortIcon field="fecha_sol"></p-sortIcon></th>
            <th>Detalle Incidente</th>
            <th>Estado</th>  
            <th [style]="{'width':'80px'}">ID OP</th>
            <th [style]="{'width':'150px'}">Status</th>
            <th [style]="{'width':'150px'}">Progreso</th>
            <th [style]="{'width':'170px'}">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Asignado
                    <p-columnFilter field="open_project_assignee" matchMode="equals" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="assignee" (onChange)="filter($event.value)" placeholder="Any">
                                <ng-template let-option pTemplate="item">
                                    <span >{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <!--<th>Open Project</th>-->
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-incidente>
        <tr [pSelectableRow]="incidente">
            <td>{{incidente.nro_inc}}</td>
            <td>{{incidente.nomb_comp}}</td>
            <td style="text-align: center;">{{incidente.fecha_sol | date: 'dd/MM/yyyy'}}</td>
            <td>{{incidente.descrip}}</td>
            <td style="text-align: center;">{{incidente.estado}}</td>
            <td style="text-align: center;"><a href="javascript:void(0)" (click)="goOpenProject(incidente)">{{incidente.open_project_id}}</a></td>
            <td style="text-align: center;"><span *ngIf="incidente.open_project_status" [class]="'incidente-badge status-' + incidente.open_project_status.toLowerCase()">{{incidente.open_project_status}}</span></td>
            <td>
                <p-progressBar [value]="incidente.open_project_percentage_done" [showValue]="false" [style]="{'height': '6px'}"></p-progressBar>
            </td>
            <td style="text-align: center;">{{incidente.open_project_assignee}}</td>
            <td *ngIf="!incidente.open_project_id">
                <button pButton pRipple type="button" icon="pi pi-send" class="p-button-rounded p-button-success" pTooltip="Enviar a Open Project"
                    (click)="sendOpenProject(incidente)" [disabled]="incidente.open_project_id">
                </button>                
            </td>    
            <td style="text-align: center;" *ngIf="incidente.open_project_id">
                <div *ngIf="incidente.open_project_priority" [class]="'starburst priority-' + incidente.open_project_priority.toLowerCase()">
                    <span [class]="'starburst priority-' + incidente.open_project_priority.toLowerCase()">
                        <span [class]="'starburst priority-' + incidente.open_project_priority.toLowerCase()">
                            <span [class]="'starburst priority-' + incidente.open_project_priority.toLowerCase()">
                            {{incidente.open_project_priority.charAt(0)}}
                            </span>
                        </span>
                    </span>
                </div>
            </td>             
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <button pButton pRipple type="button" label="Incidentes" class="p-button-secondary p-button-text"></button>    
        <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="findIncidentes()"></p-button>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No existen incidentes pendientes.</td>
        </tr>
    </ng-template>
  </p-table> 
</div>
<modal-open-project  style="z-index: 10000;" 
[display]="displayModal" 
[esRequerimiento]="esRequerimiento" 
[incidente]="selectedIncidente" 
(dismissModal)="dismissModal($event)">
</modal-open-project>
