<p-toast position="top-right"></p-toast>
<p-dialog header="Open Project" [(visible)]="display" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" (onHide) = "closeModal()" (onShow) = showModal()>
    <p></p>
    <div class="p-fluid">
        <div class="p-field">
            <label for="workpackage" class="required">Proyecto</label>
            <p-dropdown id="workpackage" [options]="projects"  [(ngModel)]="selectedProject" (onChange)="workpackageSelected()"  optionLabel="name"
                [showClear]="true" placeholder="Seleccione un proyecto...">
            </p-dropdown> 
        </div>
        <div class="p-field">
            <label for="fase">Fase</label>
            <p-dropdown id="fase" [options]="phases"  [(ngModel)]="selectedPhase"  optionLabel="subject"  [disabled]="!selectedProject"
                [showClear]="true" placeholder="Seleccionar...">
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="asignado">Asginado</label>
            <p-dropdown id="asignado" [options]="memberships"  [(ngModel)]="selectedMembership"  optionLabel="_links.self.title" [disabled]="!selectedProject"
                [showClear]="true" placeholder="Seleccionar...">
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="prioridad">Prioridad</label>
            <p-dropdown id="prioridad" [options]="priorities"  [(ngModel)]="selectedPriority"  optionLabel="name"
                [showClear]="true" placeholder="Seleccionar...">
            </p-dropdown>
        </div>
        <p style="padding:70px;"></p>
    </div>   
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" label="Enviar" styleClass="p-button-text" [disabled]="!selectedProject" (click)="sendOpenProject()"></p-button>
    </ng-template>
</p-dialog>